header {
    padding: 9rem 0 6rem;
}

section {
    padding: 150px 0;
}

.btn-login {
    color: white;
    background-color: #3b5998;
}

.btn-login:hover {
    color: white;
    background-color: #374681;
}

.btn-logout {
    color: white;
    margin-left: 11%
}

li {
    list-style-type: none;
}

.bg-facebook {
    /*background-color: #3b5998;*/
    background-color: #117a8b;
}

.btn-facebook {
    background-color: #3b5998;
}

img.profile-pic {
    border-radius: 30%;
    height: 10%;
    width: 10%;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 5rem;
}

.footer {
    padding-top: 1rem;
    padding-bottom: 0.7rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.btn-schedule {
    color: white;
    border-color: #3b6baa;
    background-color: #3b5998;
    margin-right: 0.5rem;
}

.btn-schedule:hover {
    background-color: #374681;
}

.btn-facebook:hover {
    background-color: #374681;
}

.schedule-banner {
    padding: 100px 0 0;
}

img.post-picture {
    height: 5rem;
}

i.check-enabled {
    color: black;
    font-size: 1rem;
}

i.not-enabled {
    color: red;
    font-size: 1rem;
}

i.is-posted {
    color: green;
    font-size: 1rem;
}

div.no-post-list {
    background-color: #3b5998;
    border-radius: 1%;
    opacity: 0.8;
}

h1.no-post-scheduled {
    padding-bottom: 2%
}

tr.clickable-row {
    cursor: pointer;
}

td.checkbox{
    cursor: default;
}

tr.non-clickable {
    background-color: #eeeeea;
    cursor: pointer;
}

.img-preview {
    height: 5%;
}

img.idh-logo {
    height: 2rem;
    margin-bottom: 0.2rem;
    /*background-color: white;*/
}

button.submit-post {
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.stroke-transparent {
    -webkit-text-stroke: 1px #000;
    -webkit-text-fill-color: transparent;
}

.stroke-black {
    -webkit-text-stroke: 1px #000;
}

.toggle-off {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.toggle.off {
    border-color: rgba(0, 0, 0, .25);
}

.toggle-handle {
    background-color: white;
    border: thin rgba(0, 0, 0, .25) solid;
}

.tsvToast {
    color: blue;
    width: 400px;
    height: 20px;
    height: auto;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    /*bottom:10px;*/
    background-color: #383838;
    color: #F0F0F0;
    font-family: Helvetica;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    z-index: 100;
}

.bootstrap-default-font {
    font-family: Helvetica;
    line-height: 1.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 16px
}

pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.action-dropdown{
    display: inline;
    margin-bottom: 1rem;
    cursor: pointer;
}


.all-btn:hover{
    background-color: white;
}

input.input-submit{
    display: inline
}

.dropdown-item{
    cursor: pointer;
}

.select-button{
    padding-left: 1rem;
}


.col-center{
    margin: 0 auto;
}

.text-white{
    color: white;
}

.text-input{
    font-family: Helvetica;
    line-height: 1.5rem;
    font-size: 16px;
    white-space: pre;
}


.status-tables{
    margin-top: 5rem;
}

.scroll-group{
    max-height: 20rem;
    margin-bottom: 2rem;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}


.tsv-text{
    height: 20rem;
    margin-top: 4.5rem;
    padding-top: 4rem;
    border-radius: 2%;
    border: solid red 5pt;
}

.tsv-error{
    padding-top: 2rem;

}

.about{
    padding: 5rem 0 6rem;
}


.border-white{
    border: solid white;
}

.mobile-login{
    -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
}


/*Tooltip*/

.tooltip {
    position: relative;
    text-decoration: none;
}
.tooltip:after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 130%;
    left: 20%;
    background: #ffcb66;
    padding: 5px 15px;
    color: black;
    -webkit-border-radius: 10px;
    -moz-border-radius   : 10px;
    border-radius        : 10px;
    white-space: nowrap;
    opacity: 0;
    /* At time of this creation, only Fx4 doing pseduo transitions */
    -webkit-transition: all 0.4s ease;
    -moz-transition   : all 0.4s ease;
}
.tooltip:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 20px solid #ffcb66;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    /* At time of this creation, only Fx4 doing pseduo transitions */
    -webkit-transition: all 0.4s ease;
    -moz-transition   : all 0.4s ease;
    opacity: 0;
    left: 30%;
    bottom: 90%;
}
.tooltip:hover:after {
    bottom: 100%;
}
.tooltip:hover:before {
    bottom: 70%;
}
.tooltip:hover:after, a:hover:before {
    opacity: 1;
}


.autopost-logo{
    height: 4.5rem;
    overflow: visible;
    margin-bottom: 0.4rem;
    margin-right: -0.3rem;
}

.autopost-logo-sm{
    height: 3rem;
}


.autopost-logo-xxs{
    height: 2.5rem;
}


.active{
    font-weight: 700;
}



#page-top .table-scroll{
    overflow:scroll;
    width:100%;
    text-decoration: none;
}

.roadmap-img{
    width: 10%;
}

.post-detail-picture{
    height: 8rem;
}


.faq-question{
    font-style:italic;
    margin-top: 5rem;
}

.faq-answer{

}

a.anchor {
    display: block;
    position: relative;
    top: -4.5rem;
    visibility: hidden;
}

a.anchor-white:link{
    color: white;
}

a.anchor-white{
    color: white;
}
a.anchor-white:hover{
    color: #cecece;
    margin-top: 1.5rem;
}

.vid-tutorial{
    width: 100%;
}

a#url-tab:not(.active){
    background-color: ghostwhite;
    /*border: solid white;*/
}

a#upload-tab:not(.active){
    background-color: ghostwhite;
}

a#upload-tab.active{
    border: solid thin #3b5998;
}
a#url-tab.active{
    border: solid  thin #3b5998;
}


/**/

#input-container {
    height: 5rem;
    width: 5rem;
    border-radius: 10%;
    background-color: white;
    display: inline;
    border: lightgray dashed;
    color: lightgray;
    font-size: 2.5rem;
    cursor: pointer;
    text-align: center;
    padding-bottom: 1.8rem;
    padding-top: 0.2rem;
}

.crop {
    width: 5rem;
    height: 5rem;
    overflow: hidden;
    background-color: white;
    border-radius: 10%;
}

.crop img {
    width: 5rem;
}

.hidden-input[type='file'] {
    display: none;
}

.close-picture-button {
    color: white;
    position: absolute;
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    margin-top: 0.1rem;
    margin-left: 3.8rem;
    font-size: 1rem;
    text-align: center;
    opacity: 0.8;
}

.close-picture-button .fa.fa-times{
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.close-picture-button:hover{
    opacity: 1;
}

.home-dashboard-container{
    margin-top:4.6rem;
    height: 18rem;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.slide-down{
    display: none;
}

.fade-in{
    display:none;
}



.se-pre-con {
    margin-top:4.2rem;
    margin-bottom: 2rem;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 80%;
    z-index: 9998;
    background: url(../img/load.svg) center no-repeat #fff;
    background-size: 20rem;
}

.se-pre-con-img{
    z-index: 9999;
    display: block;
    margin-top: 20.38rem;
    margin-left: auto;
    margin-right: auto;
    width: 10rem;
}

.toggle.btn {

    min-width: 12rem !important ;
    min-height: 2.38rem !important ;
}


a.fbpage-link{
    color: #3b5998;
}

a.fbpage-link:hover{
    color: #374681;
}