<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head th:replace="../elements/header (title='Contact')"></head>


<body id="page-top">

<!-- Navigation -->
<nav th:replace="../elements/navbar"></nav>

<header class="bg-facebook text-white">
    <div class="container">
        <div class="row">
            <div class=" col-12 col-md-6">
                <h1 >Contact:</h1>
                <ul style="font-size: 1rem; ">
                    <li><a class="text-white" href="https://twitter.com/DemmerDennis"><i class="fa fa-twitter" aria-hidden="true"></i> @DemmerDennis</a></li>
                    <li><a class="text-white" href="https://twitter.com/jhermes"><i class="fa fa-twitter" aria-hidden="true"></i> @spinfocl</a></li>
                    <li><a class="text-white" href="https://github.com/DDemmer1"><i class="fa fa-github" aria-hidden="true"></i> DDemmer1</a></li>
                    <!--<li><a class="text-white" href=""><i class="fa fa-facebook-official" aria-hidden="true"></i> Ddmr</a></li>-->
                    <li><a class="text-white" href="mailto:Dennis.Demmer@uni-koeln.de"><i class="fa fa-envelope-o" aria-hidden="true"></i> Dennis.Demmer@uni-koeln.de</a></li>
                    <li><a class="text-white" href="https://github.com/DH-Cologne/auto-post"><i class="fa fa-github" aria-hidden="true"></i> autoPost GitHub repository</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-6">
                <h2>Other services:</h2>
                <ul style="font-size: 1rem; " >
                    <li><i class="fa fa-twitter-square" aria-hidden="true"></i> <a class="text-white" href="https://autochirp.spinfo.uni-koeln.de/home">autoChirp - Twitter schedule web service</a></li>
                    <!--<li><i class="fa fa-file-text" aria-hidden="true"></i> <a class="text-white" href="http://ner.dennis.demmer.de">Named Entity Recognition Online</a></li>-->
                    <li><i class="fa fa-book" aria-hidden="true"></i> <a class="text-white" href="https://tiwoli.spinfo.uni-koeln.de/home?lang=en">Tiwoli - Today in World Literature</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

<section class="mt-0 pt-2 pt-sm-5">
    <div class="text-center">
        <a href="http://dh.uni-koeln.de/"><img class="img-fluid" th:src="@{/img/IDH_Logo.png}"/></a>
    </div>
</section>



<!-- Footer -->
<footer th:replace="../elements/footer"></footer>

</body>

</html>