<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head th:replace="../elements/header (title='FAQ')"></head>


<body id="page-top">

<!-- Navigation -->
<nav th:replace="../elements/navbar"></nav>

<header class="bg-facebook text-white">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1>FAQ</h1>
            </div>
        </div>
    </div>
</header>

<section class="mt-0 pt-2 pt-sm-5">
    <div class="container">
        <h5 class="faq-question">What is autoPost?</h5>
        <p class="mt-4 faq-answer">AutoPost is a web service, where you can write Facebook posts for Facebook pages in advance. You choose the date and the time when autoPost should post your input to your Facebook page. </p>
        <!---->
        <h5 class="faq-question">Can I post as my personal Facebook with autoPost?</h5>
        <p class="mt-4 faq-answer">No. Facebook shutdown the access to personal Facebook feeds for third party apps. Only Facebook pages can be accessed.</p>
        <!---->
        <h5 class="faq-question">How to use autoPost?</h5>
        <p class="mt-4 faq-answer">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        <!---->
        <h5 class="faq-question">Is autoPost free?</h5>
        <p class="mt-4 faq-answer">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        <!---->
        <h5 class="faq-question">My post was not posted. What can I do?</h5>
        <p class="mt-4 faq-answer">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        <!---->
        <h5 class="faq-question">My question was not answered in this FAQ.</h5>
        <p class="mt-4 faq-answer">Please <a href="/contact">contact</a> us.</p>

    </div>
</section>

<!-- Footer -->
<footer th:replace="../elements/footer"></footer>

</body>

</html>