<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head th:replace="../elements/header (title='Home')"></head>


<body id="page-top">

<!-- Navigation -->
<nav th:replace="../elements/navbar"></nav>

<header class="bg-facebook text-white">
    <div class="container text-center">
        <h1>Welcome to <strong>autoPost</strong> <i class="fa fa-facebook-square"></i></h1>
        <p class="lead">TEST UPLOAD. NOT PRODUCTION READY!</p>
        <!--<p class="lead">TEST UPLOAD. NOT PRODUCTION READY! Your Facebook scheduling Service</p>-->
    </div>
</header>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>About autoPost </h2>
                <p class="lead"><strong>autoPost</strong> is a small and easy-to-use webapplication to ease the scheduled publication of posts on Facebook pages</p>
                <ul>
                    <li><i class="fa fa-facebook-square"></i> Free to use and Open Source</li>
                    <li><i class="fa fa-facebook-square"></i> Schedule your posts on Facebook pages</li>
                    <li><i class="fa fa-facebook-square"></i> Import TSV files for fast and easy post scheduling</li>
                </ul>
            </div>
        </div>
    </div>
</section>



<!-- Footer -->
<footer th:replace="../elements/footer" ></footer>

</body>

</html>