<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head th:replace="../elements/header (title='')"></head>


<body id="page-top">

<!-- Navigation -->
<nav th:replace="../elements/navbar"></nav>

<header class="bg-facebook text-white">
    <div class="container text-center">
        <h1>Welcome to <div class="rounded pr-2 pl-2 pb-1 pt-0 bg-dark d-inline"><strong>autoPost</strong> <img class="autopost-logo"
                                                      src="img/autopost_assets/autopost_circle/autopost_circle.png"></div>
        </h1>
        <p class="lead">Your free Facebook scheduling Service</p>
        <div th:unless="${session.activeuser != null}" class="d-lg-none nav-item">
            <a class="mobile-login btn btn-login btn-facebook border-white" th:href="${loginlink}"><i
                    class="fa fa-facebook-square"></i>
                Login with Facebook</a>
        </div>
    </div>
</header>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 mx-auto">
                <h2>About autoPost </h2>
                <p class="lead"><strong>autoPost</strong> is a small and easy-to-use webapplication to ease the
                    scheduled publication of posts on Facebook pages</p>
                <ul>
                    <li><i class="fa fa-users" aria-hidden="true"></i> Free to use and Open Source</li>
                    <li><i class="fa fa-calendar" aria-hidden="true"></i> Schedule your posts on Facebook pages</li>
                    <li><i class="fa fa-upload" aria-hidden="true"></i> Import TSV files for fast and easy post
                        scheduling
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>


<!-- Footer -->
<footer th:replace="../elements/footer"></footer>

</body>

</html>