<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head th:replace="../elements/header (title='Thank you')"></head>

<body>



<body id="page-top">

<!-- Navigation -->
<nav th:replace="../elements/navbar"></nav>

<header class="bg-facebook text-white">
    <div class="container text-center">
        <h1>Thanks for your feedback!</h1>
        <p class="lead">We will try to fix your problem as soon as possible.</p>
    </div>
</header>


<!-- Footer -->
<footer th:replace="../elements/footer" ></footer>
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="js/scrolling-nav.js"></script>

</body>

</html>