<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head th:replace="../elements/header (title='Schedule')"></head>


<body id="page-top">

<!-- Navigation -->
<nav th:replace="../elements/navbar"></nav>

<div class="bg-facebook text-white schedule-banner">
    <div>
        <div class="container">
            <h2><span class="fa-stack" style=" font-size: 0.75rem; padding-bottom: 2rem">
                  <i class="fa fa-facebook fa-stack-1x"></i>
                  <i class="fa fa-file-o fa-stack-2x"></i>
                </span> [[${page.getName()}]]
            </h2>
            <hr/>
        </div>
    </div>
</div>


<!--If no posts in DB-->
<div class="container jumbotron" th:if="${postList == null}">

    <h1 class="no-post-scheduled">No posts scheduled</h1>
    <a class="btn text-white btn-facebook" style="margin-bottom: 1rem" th:href="${page.getFbId()} +'/new'"><i
            class="fa fa-plus"></i> Add new Post</a>
</div>

<div th:if="${postList != null}" class="container schedule-table">


    <!--If TSVimport successfull-->

    <div th:if="${param.tsvSuccess}">
        <div class="tsvToast" style="display: none">[[${param.numAddedPosts}]] Posts added <i style="color: green;" class="fa fa-check" aria-hidden="true"></i></div>
    </div>



    <div class="container schedule-table">
        <a class="btn text-white btn-facebook" style="margin-bottom: 1rem" th:href="${page.getFbId()} +'/new'"><i
                class="fa fa-plus"></i> Add new Post</a>
        <a class="btn btn-warning text-white" style="margin-bottom: 1rem" th:href="${page.getFbId()} +'/tsvform'"><i
                class="fa fa-plus"></i> Import TSV-File</a>

        <table class="table table-hover table-responsive-sm">
            <thead>
            <tr>
                <th scope="col"><i class="fa fa-calendar" aria-hidden="true"></i> Date</th>
                <th scope="col"><i class="fa fa-pencil" aria-hidden="true"></i> Content</th>
                <th scope="col"><i class="fa fa-file-image-o" aria-hidden="true"></i> Image</th>
                <th scope="col"><i class="fa fa-cubes" aria-hidden="true"></i> Status</th>
            </tr>
            </thead>
            <tbody>
            <tr th:classappend="${post.isPosted()} ? non-clickable : clickable-row"
                th:data-href="${post.getPage().getFbId()} + '/' + ${post.getId()}"
                th:each="post : ${postList}">

                <th:block th:with="sdf = ${new java.text.SimpleDateFormat('yyyy-MM-dd')}">
                    <td th:text="${#dates.format(sdf.parse(post.getDate()), 'dd.MM.yyyy') + ' ' + post.getTime()}"></td>
                </th:block>

                <td th:text="${post.getContent()}">This is a test post</td>
                <td><img th:src="${post.getImg()}" class="post-picture"
                         src="https://upload.wikimedia.org/wikipedia/commons/3/3d/FuBK-Testbild.png"/></td>


                <td th:if="${post.isEnabled() && !post.isPosted()}">
                    <i class="check-enabled fa fa-hourglass-half"></i>
                </td>

                <td th:if="${!post.isEnabled() && !post.isPosted()}">
                    <i class="not-enabled fa fa-minus-circle"></i>
                </td>

                <td th:if="${post.isEnabled() && post.isPosted()}">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i><i class="is-posted fa fa-check"
                                                                          aria-hidden="true"></i>
                </td>
            </tr>

            </tbody>
        </table>


    </div>
</div>

<!-- Footer -->
<footer th:replace="../elements/footer"></footer>
<script>$('.tsvToast').stop().fadeIn(400).delay(3000).fadeOut(400)</script>

</body>

</html>