<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head th:replace="../elements/header (title='Post')"></head>


<body id="page-top">

<!-- Navigation -->
<nav th:replace="../elements/navbar"></nav>

<div class="bg-facebook text-white schedule-banner">
    <div>
        <div class="container">
            <h2><i class="fa fa-file-o" aria-hidden="true"></i> [[${page.getName()}]]</h2>
            <hr/>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h2><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit post:</h2>
            <form id="post-form" method="post" action="/post" role="form">

                <div class="messages"></div>
                <div class="controls">
                   <div class="jumbotron" >
                    <!--Content-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="content"><i class="fa fa-pencil" aria-hidden="true"></i> Content</label>
                                <p class="lead emoji-picker-container">
                                <textarea data-emoji-input="unicode" data-emojiable="true" rows="4" id="content" type="text" name="content" class="form-control"
                                          placeholder="Please enter your Content"></textarea>
                                </p>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                   </div>
                    <div th:replace="../elements/scheduling"></div>

                    <div th:replace="../elements/image-picker"></div>

                    <div th:replace="../elements/location-picker"></div>




                    <button class="btn btn-facebook text-white submit-post" type="submit"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>

                </div>
            </form>

        </div>
    </div>
</div>


<!-- Footer -->
<footer th:replace="../elements/footer"></footer>

</body>

</html>