<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head th:replace="../elements/header (title='Post')"></head>


<body id="page-top">

<!-- Navigation -->
<nav th:replace="../elements/navbar"></nav>

<div class="bg-facebook text-white schedule-banner">
    <div>
        <div class="container">
            <h2><span class="fa-stack" style=" font-size: 1rem; padding-bottom: 2.5rem">
                  <i class="fa fa-facebook fa-stack-1x"></i>
                  <i class="fa fa-file-o fa-stack-2x"></i>
                </span> [[${page.getName()}]]
            </h2>
            <hr/>
        </div>
    </div>
</div>

<div class="container">


    <div class="row">
        <div class="col-md-12 mx-auto">

            <form enctype="multipart/form-data" id="post-form" method="post" th:object="${postDto}" th:action="${#httpServletRequest.requestURI}"
                  role="form">
                <div class="row">
                    <div class="col-8 col-md-7 col-lg-3">
                        <h2><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit post:</h2>
                    </div>
                    <div th:if="*{time}" class="col-1 col-md-1">
                        <a th:href="${#httpServletRequest.requestURI} + '/delete' " style="color: white" class=" btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a>
                    </div>
                </div>

                <div class="messages"></div>
                <div class="controls">
                    <div class="jumbotron">
                        <!--Content-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="content"><i class="fa fa-pencil" aria-hidden="true"></i> Content</label>
                                    <p class="lead emoji-picker-container">
                                        <textarea th:value="*{content}" th:field="*{content}" data-emoji-input="unicode"
                                                  data-emojiable="true" rows="4" id="content"
                                                  type="text" name="content" class="form-control"
                                                  placeholder="Please enter your Content">
                                        </textarea>
                                    </p>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div th:replace="../elements/scheduling"></div>

                    <div th:replace="../elements/image-picker"></div>

                    <!--/*<div th:replace="../elements/location-picker"></div>*/-->


                    <div class="row">

                        <div class="col-5 col-sm-5 col-md-3 col-lg-2 col-xl-1">
                            <button class="btn btn-facebook text-white submit-post" type="submit">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
                            </button>
                        </div>

                        <div style="margin-top: 1rem" class="col-4 col-sm-4">
                            <input id="enabled" th:field="*{enabled}" type="checkbox" data-toggle="toggle"
                                   data-onstyle="success" data-offstyle="danger" data-on="Scheduling enabled"
                                   data-off="Scheduling disabled"/>
                        </div>
                    </div>
                </div>

            </form>


        </div>
    </div>
</div>


<!-- Footer -->
<footer th:replace="../elements/footer"></footer>

</body>

</html>