<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head th:replace="../elements/header (title='Roadmap')"></head>


<body id="page-top">

<!-- Navigation -->
<nav th:replace="../elements/navbar"></nav>

<header class="bg-facebook text-white">
    <div class="container col-12 col-lg-4">
        <img class="roadmap-img" src="img/roadmap.png">
        <h1>Roadmap:</h1>
        <p>This Web-App is a Beta version. AutoPost is still in active development. If you are experience any bugs during your usage of autoPost,
            please <a href="/contact">contact us</a>. Suggestions for further improvements are also welcome</p>
    </div>
</header>

<section class="mt-0 pt-2 pt-sm-5">
    <div class="container col-lg-4">
        <!--<img class="mb-3 roadmap-img" src="img/update.png">-->
        <ui>
            <h5><i class="fa fa-cog" aria-hidden="true"></i> Features we try to include in future updates:</h5>
            <li>- Scheduling of posts with videos</li>
            <li>- Scheduled creation of Facebook events</li>
        </ui>
    </div>
</section>


<!-- Footer -->
<footer th:replace="../elements/footer"></footer>

</body>

</html>