<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head th:replace="../elements/header (title='Schedule')"></head>


<body id="page-top">

<!-- Navigation -->
<nav th:replace="../elements/navbar"></nav>

<div class="bg-facebook text-white schedule-banner">
    <div>
        <div class="container">
            <h2>Schedule posts for "<strong>[[${page}]]</strong>"</h2>
            <hr/>
        </div>
    </div>
</div>





<!-- Footer -->
<footer th:replace="../elements/footer" ></footer>

</body>

</html>