<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head th:replace="../elements/header (title='Services')"></head>


<body id="page-top">

<!-- Navigation -->
<nav th:replace="../elements/navbar"></nav>

<header class="bg-facebook text-white">
    <div class="container col-12 col-md-3">
        <h1 >Services:</h1>
        <p>Other free services you might be interested in:</p>
        <ui >
            <li><i class="fa fa-twitter-square" aria-hidden="true"></i> <a class="text-white" href="https://autochirp.spinfo.uni-koeln.de/home">autoChirp - Twitter schedule web service</a></li>
            <li><i class="fa fa-file-text" aria-hidden="true"></i> <a class="text-white" href="http://ner.dennis.demmer.de">Named Entity Recognition Online</a></li>
            <li><i class="fa fa-book" aria-hidden="true"></i> <a class="text-white" href="https://tiwoli.spinfo.uni-koeln.de/home?lang=en">Tiwoli - Today in World Literature</a></li>
        </ui>
    </div>
</header>

<section>
    <div class="text-center ">
        <a href="http://dh.uni-koeln.de/"><img class="img-fluid" th:src="@{/img/IDH_Logo.png}"/></a>
    </div>
</section>



<!-- Footer -->
<footer th:replace="../elements/footer"></footer>

</body>

</html>