<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head th:replace="../elements/header (title='TSV-Upload')"></head>


<body id="page-top">

<!-- Navigation -->
<nav th:replace="../elements/navbar"></nav>


<div class="bg-facebook text-white schedule-banner">
    <div>
        <div class="container">
            <h2><span class="fa-stack" style=" font-size: 0.75rem; padding-bottom: 2rem">
                  <i class="fa fa-facebook fa-stack-1x"></i>
                  <i class="fa fa-file-o fa-stack-2x"></i>
                </span> [[${page.getName()}]]
            </h2>
            <hr/>
        </div>
    </div>
</div>


<div class="container">
    <h2>Choose .tsv file</h2>
    <form th:action="'tsvform/upload'" method="post" enctype="multipart/form-data">
        <div class="row">
            <input class="btn btn-facebook text-white" type="file" name="file" id="file">
        </div>

        <div class="row" style="padding-top: 1rem">
            <button class="btn btn-facebook text-white" type="submit" value="Submit" name="submit">Submit</button>
        </div>
    </form>
</div>



<div style="padding-top: 50px" th:if="${error}">
    <header class="bg-facebook text-white">
        <div class="container text-center">
            <h1>TSV Parsing Error - Document Malformed</h1>
            <p class="lead">Parsing error in line <b> [[${line}]] </b>. <u>Date in the Past</u> or other <u>formatting problems</u>. Please check the file and try again!</p>
            <hr>
            <p th:text="${linecontent}"></p>
        </div>
    </header>
</div>

<!-- Footer -->
<footer th:replace="../elements/footer"></footer>

</body>

</html>