<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head th:replace="../elements/header (title='TSV-Upload')"></head>


<body id="page-top">

<!-- Navigation -->
<nav th:replace="../elements/navbar"></nav>


<div class="bg-facebook text-white schedule-banner">
    <div>
        <div class="container">
            <h2><span class="fa-stack" style=" font-size: 0.75rem; padding-bottom: 2rem">
                  <i class="fa fa-facebook fa-stack-1x"></i>
                  <i class="fa fa-file-o fa-stack-2x"></i>
                </span> [[${page.getName()}]]
            </h2>
            <hr/>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col">
            <h2>Choose TSV file</h2>
            <form th:action="'tsvform/upload'" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col">
                        <input class="btn btn-facebook text-white" type="file" name="file" id="file">
                    </div>
                </div>

                <div class="row" style="padding-top: 1rem">
                    <div class="col-2">
                        <button class="btn btn-facebook text-white" type="submit" value="Submit" name="submit">Submit
                        </button>
                    </div>

                    <div class="col-3 pt-2 " data-toggle="tooltip" data-placement="bottom"
                         title="Recommended. Checks if your posts are scheduled in the future. If you don't use this, posts scheduled in the past will show an error symbol and won't be scheduled.">
                        <label for="datecheck">Date check</label>
                        <input type="checkbox" name="datecheck" id="datecheck" checked>
                    </div>

                    <div class="col-3 pt-2 pr-2 " data-toggle="tooltip" data-placement="bottom"
                         title="Not recommended for files larger then 50 posts. Every image URL will be checked for reachability. This could take a while. ">
                        <label for="imgcheck">Image check</label>
                        <input type="checkbox" name="imgcheck" id="imgcheck">
                    </div>


                </div>
            </form>


            <div class="tsv-error" th:if="${param.error}">
                <div class="tsv-text">
                    <div class="container text-center">
                        <h2>TSV Error <i class="fa fa-exclamation-triangle" aria-hidden="true"></i></h2>
                        <p class="lead">Malformed TSV-File. <u>[[${param.message}]]</u> in line [[${param.line}]].</p>
                        <hr>
                        <p>Line [[${param.line}]]. Unvalid value: "[[${param.linecontent}]]"</p>
                    </div>
                </div>
            </div>


        </div>

        <div class="col">
            <h2>TSV Rules</h2>
            <p>A Tab-Seperated-Value file can be exported from an Microsoft Exel/Open Office/Google Docs table. It is an
                easy and fast way to deploy multiple Posts at once into autoPost. Every column and therefore every value
                is separated by a tab. But you need to follow some guidelines in order to upload your TSV file
                successfully. The list below contains all the rules you need to follow. If you want to see an example
                TSV file, click on the link below. </p>
            <a href="/tsvexample" target="_blank" style="margin-top: 1rem; margin-bottom: 2rem"
               class="btn text-white btn-secondary">Example TSV</a>
            <ul class="list-group scroll-group">
                <li class="list-group-item">Order of columns: Date, Time, Content, Image URL</li>
                <li class="list-group-item">Only web URL's are allowed</li>
                <li class="list-group-item">The time has to be in format HH:MM (Example: 12:08)</li>
                <li class="list-group-item">If "date check" is active your date and time must NOT be in the past</li>
                <li class="list-group-item">Following date-formats are allowed:
                    <ul class="list-group">
                        <li class="list-group-item">dd.MM.yyyy (Example: 30.05.2019)</li>
                        <li class="list-group-item">dd-MM-yyyy (Example: 30-05-2019)</li>
                        <li class="list-group-item">dd/MM/yyyy (Example: 30/05/2019)</li>
                        <li class="list-group-item">yyyy-MM-dd (Example: 2019-05-31)</li>
                        <li class="list-group-item">yyyy/MM/dd (Example: 2019/05/31)</li>
                        <li class="list-group-item">yyyy.MM.dd (Example: 2019.05.31)</li>
                    </ul>
                </li>
                <li class="list-group-item">Content OR Image url has to be filled</li>
                <li class="list-group-item">If you just want to post an image without text, separate the image url from
                    the time with two tabs
                </li>
                <li class="list-group-item">Time AND date must not be empty</li>
                <li class="list-group-item">If you want linebreaks in your text write \n where you would press ENTER
                </li>
                <li class="list-group-item">If you want tabs in your text write \t where you would press TAB</li>
                <li class="list-group-item">Rows which start with // will be ignored</li>
            </ul>


        </div>
    </div>
</div>


<!-- Footer -->
<footer th:replace="../elements/footer"></footer>

</body>

</html>