<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head th:replace="../elements/header (title='Contact')"></head>


<body id="page-top">

<!-- Navigation -->
<nav th:replace="../elements/navbar"></nav>

<header class="bg-facebook text-white">
    <div class="container">
        <div class="row">
            <div class=" col-12 col-md-6">
                <h1>Tutorials:</h1>

            </div>

        </div>
    </div>
</header>

<section class="mt-0 pt-2 pt-sm-5">

    <div class="container">
        <div class="row">
            <div class="col-6">
                <h2>Schedule a Facebook post:</h2>
                <video class="mt-2 vid-tutorial" controls src="/videos/cast_login_create_post.mp4"></video>
            </div>
            <div class="col-6">
                <h2>Upload a TSV-File:</h2>
                <video class="mt-2 vid-tutorial" controls src="/videos/cast_login_create_post.mp4"></video>
            </div>
        </div>
    </div>
</section>


<!-- Footer -->
<footer th:replace="../elements/footer"></footer>

</body>

</html>