<div th:fragment="location-picker" xmlns:th="http://www.thymeleaf.org">
    <div style="margin-top: 1rem" class="row">
        <div class="column">
            <div class="col-md-12">
                <a id="add-location" class="btn btn-secondary dropdown-toggle text-white"><i class="fa fa-map-marker" aria-hidden="true"></i> Location</a>
            </div>
        </div>
    </div>
<div style="display: none" id="div-location" class="jumbotron">
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label for="latInput">Latitude</label>
                <input th:value="*{longitude}" th:field="*{longitude}" id="latInput" type="text" name="latInput" class="form-control"
                       placeholder="Click on the map or enter value">
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label for="lngInput">Longitude</label>
                <input th:value="*{latitude}" th:field="*{latitude}" id="lngInput" type="text" name="lngInput" class="form-control"
                       placeholder="Click on the map or enter value">
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <label for="find-geo">Tracking</label>
                <a style="width: 100%" id="find-geo" class="btn btn-facebook text-white"><i
                        class="fa fa-map-marker"></i></a>
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <label for="find-geo">Delete</label>
                <a style="width: 100%" id="reset-geo" class="btn btn-danger text-white"><i
                        class="fa fa-trash-o"></i></a>
            </div>
        </div>
    </div>

    <div id="map" style="height : 200px"></div>

</div>

</div>